<div class="panel-group" id="custSidebar" ng-control="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#custSidebar" href="#custBaseInfo">
                    个人基本信息
                </a>
            </h4>
        </div>
        <div id="custBaseInfo" class="panel-collapse collapse in">
            <ul class="list-group">
                <a href="#" class="list-group-item" ng-click="displayInfo('personalInformation')">个人概况</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('relatives')">配偶或家庭成员</a>
				<!--
                <a href="#" class="list-group-item" ng-click="displayInfo('academicRecord')">个人学历履历</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('employmentsRecord')">个人工作履历</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('personalMemorabilia')">个人大事件</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('personalDocuments')">个人文档</a>
				-->
            </ul>
        </div>
    </div>
	<!--
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#custSidebar" href="#assetAndLiabilities">
                    个人资产与负债信息
                </a>
            </h4>
        </div>
        <div id="assetAndLiabilities" class="panel-collapse collapse ">
            <ul class="list-group">
                <a href="#" class="list-group-item" ng-click="displayInfo('socialInsurance')">社会保险情况</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('propertyInsurance')">财产保险情况</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('lifeInsurance')">人寿保险情况</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('realtyAssets')">房屋资产情况</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('vehicle')">车辆资产情况</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('stock')">持有股票信息</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('bond')">持有债券信息</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('investmentEnterprise')">投资企业情况</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('intangibleAsset')">无形资产情况</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('otherAsset')">其他资产情况</a>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#custSidebar" href="#taxStatus">
                    个人纳税信息
                </a>
            </h4>
        </div>
        <div id="taxStatus" class="panel-collapse collapse">
            <ul class="list-group">
                <a href="#" class="list-group-item" ng-click="displayInfo('tax')">纳税情况</a>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#custSidebar" href="#incidenceRelation">
                    关联关系查询
                </a>
            </h4>
        </div>
        <div id="incidenceRelation" class="panel-collapse collapse">
            <ul class="list-group">
                <a href="#" class="list-group-item" ng-click="displayInfo('associatedPerson')">关联人物查询</a>
                <a href="#" class="list-group-item" ng-click="displayInfo('associatedOrg')">关联企业查询</a>
            </ul>
        </div>
    </div>
</div>

    <ul>
        <li><button type="button" class="btn btn-link" ng-click="displayInfo('')">个人提供相关资料</button></li>
       <li><button type="button" class="btn btn-link" ng-click="displayInfo('')">个人信用评级信息</button></li>
    </ul>
</div>
--->
