<div class="form-horizontal" role="form" id="socialInsurance" ng-show="display_info == 'socialInsurance'">
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#socialInsuranceModal">新增</button> 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th ng-repeat="head in table_head">{{head}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in table_data">
                            <td>{{data.certificate_number}}</td>
                            <td>{{data.customer_name}}</td>
                            <td>{{data.relationship}}</td>
                            <td>{{data.register_branch}}</td>
                            <td>{{data.register_teller}}</td>
                            <td>{{data.register_date}}</td>
                            <td>{{data.update_date}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#socialInsuranceModal" ng-click="view_data(0)">详情</button> 
                                <button type="button" class="btn btn-primary">删除</button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id ='socialInsuranceModal' role="dialog">
       <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">社会保险情况新增</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label label-sm">统计截止日期</label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <div class="input">
                                            <input   class="form-control  input-sm" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label label-sm">社会保险种类</label>
                                <div class="col-md-7">
                                    <select class="form-control input-sm">
                                        <option>养老保险</option>
                                        <option>医疗保险</option>
                                        <option>住房公积金</option>
                                        <option>失业保险金</option>
                                        <option>其他保险</option>
                                    </select>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label label-sm">余额</label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <div class="input">
                                            <input   class="form-control  input-sm" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label label-sm">备注</label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <div class="input">
                                            <textarea  class="form-control" rows="3"  type="text"  />
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label label-sm">登记人</label>
                                <div class="col-md-7">
                                    <div class="input">
                                        <input class="form-control input-sm" type="text"  />
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label label-sm">登记单位</label>
                                <div class="col-md-7">
                                    <div class="input">
                                        <input class="form-control input-sm" type="text"  />
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label label-sm">登记日期</label>
                                <div class="col-md-7">
                                    <div class="input">
                                        <input class="form-control input-sm" type="text"  />
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label label-sm">更新日期</label>
                                <div class="col-md-7">
                                    <div class="input">
                                        <input class="form-control input-sm" type="text"  />
                                    </div>
                                </div>
                            </div>
                    </div>
                </form>
            </div> <!-- modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save_data(modal_data)">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="init_modal()">关闭</button>
            </div> <!-- modal-footer -->

        </div> <!-- modal-content -->
    </div> <!-- modal -->
</div>



