<div  >
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal"  >
                <div class="form-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-md-5 control-label label-sm">参数名称:</label>

                            <div class="col-md-7">
                                <div class="input">
                                    <input class="form-control input-sm" type="text"
                                           ng-model="queryCond.cust_name"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form text-right">
                                <button type="submit" class="btn btn-default">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>
                        参数编号
                    </th>
                    <th>
                        参数类型
                    </th>
                    <th>
                        参数名
                    </th>
                    <th>
                        参数值
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <th>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>