<form id="unitecedit" class="form-horizontal" role="form"  style="overflow-x:yes; overflow-y:yes;">
    <div class="form-body">
        <table id="uniteCeditTable" class ="table table-bordered" style="text-align:center;" >
            <tr><td colspan="22"> 乌海银行单一法人客户统一授信审批明细表</td> </tr>
            <tr >
                <td rowspan="3" style="vertical-align: middle;">序号</td> 
                <td rowspan="3" style="vertical-align: middle;">借款人名称</td> 
                <td rowspan="3" style="vertical-align: middle;">法定代表人</td> 
                <td rowspan="3" style="vertical-align: middle;">营运资金量 </td>  
                <td colspan="6">抵（质）物情况押</td>
                <td colspan="2">保证担保情况</td> 
                <td colspan="5">现有融资</td> 
                <td>支行申报</td>
                <td>总行核定</td>
                <td rowspan="3" style="vertical-align: middle;">贷款(含敞口欠票)</td>
                <td rowspan="3" style="vertical-align: middle;">贴现</td>
                <td rowspan="3" style="vertical-align: middle;">备注</td>
        
            </tr>
            <tr>
                <td rowspan="2">抵（质）物名称</td>
                <td rowspan="2">抵押数量</td>
                <td colspan="2">评估价值</td>
                <td colspan="2">认定价值</td>
                <td rowspan="2">保证人名称</td>
                <td rowspan="2">提供的最高额担保额度</td>
                <td colspan="2"> 抵（质）押贷款</td>
                <td colspan="2">保证贷款</td>
                <td rowspan="2">票据（含贴现、签票）</td>
                <td rowspan="2">最高授信额度</td>
                <td rowspan="2">最高授信额度</td>
            </tr>
        
            <tr>
                <td>单价</td>
                <td>总值</td>
                <td>单价</td>
                <td>总值</td>
                <td>余额</td>
                <td>期限</td>
                <td>余额</td>
                <td>期限</td>       
            </tr>
        
        </table>
            
    </div>

</form>

