<div ng-if='activity_page == "index"'  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller='creditController'>
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if='activity_page== "preAprove"'  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="preAprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if= 'activity_page == "writeReport"' style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="writeReport">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<div ng-if="activity_page == 'riskApprove'" style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="riskApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if="activity_page == 'examineApprove'" style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="examineApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if="activity_page == 'groupApprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="groupApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if="activity_page == 'loanApplication'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="loanApplication">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<div ng-if="activity_page == 'loan'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="loan">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<!--贴现-->
<div ng-if="activity_page == 'discount'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discount">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<div ng-if="activity_page == 'discountAppInfo'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discountAppInfo">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<div ng-if="activity_page == 'discountPreAprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discountPreAprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>

        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>

    </div>
</div>
<div ng-if="activity_page == 'discountWriteReport'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discountWriteReport">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>

        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>

    </div>
</div>
<div ng-if="activity_page == 'discountRiskApprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discountRiskApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>

        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>

    </div>
</div>
<div ng-if="activity_page == 'discountExamineApprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discountExamineApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>

        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>

    </div>
</div>
<div ng-if="activity_page == 'discountGroupApprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discountGroupApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>

        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>

    </div>
</div>
<div ng-if="activity_page == 'discountBill'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discountBill">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if="activity_page == 'discountwriteReport'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="discountwriteReport">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<!--签发-->
<div ng-if="activity_page == 'acceptanceAppInfo'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="acceptanceAppInfo">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if="activity_page == 'acceptancePreApprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="acceptancePreApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<div ng-if="activity_page == 'acceptanceWriteReport'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="acceptanceWriteReport">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<div ng-if="activity_page == 'acceptanceRiskApprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="acceptanceRiskApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<div ng-if="activity_page == 'acceptanceExamineApprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="acceptanceExamineApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if="activity_page == 'acceptanceGroupApprove'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="acceptanceGroupApprove">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>

<div ng-if="activity_page == 'acceptanceLoanApplication'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="acceptanceLoanApplication">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>



<div ng-if="activity_page == 'acceptanceLoan'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="acceptanceLoan">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>
        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>
    </div>
</div>
<!--贴现放款-->
<div ng-if="activity_page == 'discountLoanTask'"  style="margin: 0px;">

    <div name="applicationInfoForm" class="row" ng-controller="discountLoanTask">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>

        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>

    </div>
</div>
<div ng-if="activity_page == 'extensionPage'"  style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="extensionPage">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent">
            </div>
        </div>

        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>

    </div>
</div>
