<div style="margin:0px;">
    <div class="row" ng-controller="ManOutController">
       <div class="col-md-12">
        <div name="queryForm" class="">
          <fieldset name="custQueryCond">
              <div class="row">
               </div>
              <div class="row" >
                  <div class="col-md-4 col-md-offset-1"  >
                      <div class="form-group">
                        <label class="col-md-5 control-label label-sm ">机构号:</label>
                        <div class="col-md-5"> 
                            <input type="text" class="form-control col-md-7" ng-change="find_users()" ng-model="cust_search.ORG_NO" disabled="true">
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="show_lt_modal(this)" ng-disabled="ltSelected">...</button>
                     </div>
                  </div>

                    <div name="sameBusiness" ng-include src=Page ></div>
                     <div class="modal fade " name="loan_type_modal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">机构信息</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="row" name="for_lt_tree"> </div>
                                    </form>
                                </div> <!-- modal-body -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ztreeBtmConfirm()">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ztreeBtmClose()">取消</button>
                                </div> <!-- modal-footer -->
                             </div> <!-- modal-content -->
                     </div> <!-- modal-dialog -->
                    </div>

                  <div class="col-md-4 col-md-offset-1" >
                      <div class="form-group">
                           <label class="col-md-5 control-label label-sm">员工号:</label>
                           <div class="col-md-7">
                               <select class="form-control input-sm" ng-model="cust_search.MANAGER_NO" ng-options="option.user_name as (option.user_name+'|'+option.name) for option in model2">
                               <option></option>
                               </select>
                           </div>
                      </div>
                   </div>
              </div>

              <div class="row">
                   <div class="col-md-4 col-md-offset-1">
                       <div class="form-group">
                            <label class="col-md-5 control-label label-sm">客户号:</label>
                            <div class="col-md-7">
                              <div class="input">
                                  <input class="form-control input-sm"  type="text"  ng-model="cust_search.CUST_NO"/>
                              </div>
                            </div>
                      </div>
                  </div>
                   <div class="col-md-4 col-md-offset-1">
                       <div class="form-group">
                            <label class="col-md-5 control-label label-sm">贷款账号:</label>
                            <div class="col-md-7">
                              <div class="input">
                                  <input class="form-control input-sm"  type="text"  ng-model="cust_search.ACCOUNT_NO"/>
                              </div>
                            </div>
                      </div>
                  </div>
             </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-md-offset-10">
                    <button class="btn btn-primary btn-sm" ng-click="search()">查询</button>
                    <a href="{{excelurl}}" target="_black" target="_black" class="btn btn-primary btn-sm">excel导出</a>
                  </div>
             </div>
            </fieldset>
          </div>
          <div name="resultTable">
                      <table name="custListTable" class="table">
                             <thead style="white-space:nowrap;">
                                 <tr>
                                     <th ng-repeat='th in data.header' ng-bind='th' class="text-nowrap" > </th>
                                 </tr>
                             </thead>
                             <tbody style="white-space:nowrap;">
                                 <tr ng-repeat="row in data.rows">
                                   <td ng-repeat="d in row track by $index" class="text-nowrap" ng-hide="$index==row.length" style='padding-left :20px'> 
                                   {{d}}
                                   <td>  
                                 </tr>  
                             </tbody> 
                             </table>                                                                                                                                                                   
                  <ul class="pager">
                  <li> 总共{{total_count}}条</>
                  <li> 当前第{{cur_page}}页</>
                    <li ng-repeat="action in data.actions | filter:'!release'">
                        <a href="#" ng-click="onAction(action.conversation_id,action.action)">{{dict[action.action]}}</a>
                    </li>
                </ul>
          </div>
           <div style="text-align:center">
                            <font size="2" color="red">{{tableMessage}}</font>
           </div>
    </div>
</div>
