
<script src="views/customer/company/customerController.js" type="text/javascript"></script>
<div style="margin: 0px;">
    <div name="applicationInfoForm" class="row" ng-controller="reportsController">
        <div class="col-md-11">
            <div class="tab-content" name="tabContent1">
            </div>
        </div>

        <div class="col-md-1">
            <ul class="nav nav-tabs tabs-right pull-right" style="width: 48px;margin: 0px;" name="tab">
            </ul>
        </div>

    </div>
	</div>
</div>
<script src="assets/scripts/ui-tree.js" type="text/javascript">
    jQuery(document).ready(function () {
        UITree.init();
    });

</script>