<form name="investmentManagement"  ng-submit="save_data(investmentManagement.$valid)">
<div class="form-horizontal" role="form" id="investmentManagement" >
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" ng-click="associCompany('investmentManagement',customer_id)">新增公司成员</button>
                <button type="button" class="btn btn-primary" ng-click="refresh()">刷新</button>

            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th ng-repeat="head in table_head">{{head}}</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in table_data">
                            <td>{{data.cust.no}}</td>
                            <td>{{data.cust.name}}</td>
                            <td>{{data.investmentManagement.fact_invest_amount}}</td>
                            <td>{{data.investmentManagement.stock_percent}}</td>
                            <td>{{data.investmentManagement.deal_range}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#investmentManagementModal" ng-click="view_data(data)">详情</button>
                                <button type="button" class="btn btn-primary">清除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id ='investmentManagementModal' role="dialog">
       <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{modal_title}}</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">被投资客户代码<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.cust.no" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">被投资客户名称<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.cust.name" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">经营地址<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.investmentManagement.deal_address" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">投资时间</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.investmentManagement.invest_date" pattern="{{pattern.date}}" title="投资时间格式错误！" ng-blur="invest_date()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">投资形式</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" ng-disabled="disabled_flag" ng-model="form_data.investmentManagement.invest_type">
		            <option></option>
                            <option>实物</option>
                            <option>专利</option>
                            <option>货币资金</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">经营范围</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.investmentManagement.deal_range"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">货币种类</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" ng-disabled="disabled_flag" ng-model="form_data.investmentManagement.invest_cur_type">
		            <option></option>
                            <option>人民币</option>
                            <option>美元</option>
                            <option>港币</option>
                            <option>英镑</option>
                            <option>瑞士法郎</option>
                            <option>日元</option>
                            <option>加元</option>
                            <option>澳元</option>
                            <option>欧元</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">投资金额<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.investmentManagement.invest_amount" required pattern="{{pattern.amount}}" title="投资金额错误！" ng-blur="invest_amount()" />
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">实际投资金额<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.investmentManagement.fact_invest_amount" required pattern="{{pattern.amount}}" title="实际投资金额错误！" ng-blur="fact_invest_amount()"/>
                            <span class="input-group-addon">元</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">占股权比例</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.investmentManagement.stock_percent"/>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">出资说明</label>
                    <div class="col-md-7">
                        <div class="input">
                            <textarea class="form-control  input-sm" rows="3" type="text" ng-disabled='disabled_flag' ng-model="form_data.investmentManagement.invest_desc" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">备注</label>
                    <div class="col-md-7">
                        <div class="input">
                            <textarea class="form-control  input-sm" rows="3" type="text" ng-disabled='disabled_flag' ng-model="form_data.investmentManagement.memo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
                </form>
            </div> <!-- modal-body -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" >保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="init_modal()">关闭</button>
            </div> <!-- modal-footer -->

        </div> <!-- modal-content -->
    </div> <!-- modal -->
</div>
</form>
