<form name="lifeInsurance" ng-submit="save_data(lifeInsurance.$valid)">
<div class="form-horizontal" role="form" id="lifeInsurance" ng-show="display_info == 'lifeInsurance'">
    <div class="form-body">
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" ng-show="disabled_flag==false" >保存</button>
                <button type="button" class="btn btn-primary" ng-show="disabled_flag==false" ng-click="submit()">提交</button>
                <button type="button" class="btn btn-primary" ng-show="disabled_flag==false" ng-click="clear()">清除</button>
                <button type="button" class="btn btn-primary" ng-show="disabled_flag==true" ng-click="edit()">修改</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">客户代码<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">公司中文名称<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">是否受其他公司控制</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" ng-disabled="disabled_flag" ng-model="form_data.customer.gender">
                            <option>是</option>
                            <option>否</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">是否下设子公司或分公司</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" ng-disabled="disabled_flag" ng-model="form_data.customer.gender">
                            <option>是</option>
                            <option>否</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

	<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">隶属公司名称</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">隶属公司代码</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">隶属公司法人代表名称</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">登记机构</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">登记人</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">登记日期</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name" pattern="{{pattern.date}}" title="投资时间格式错误！"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3 control-label label-sm">更新时间</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control input-sm" type="text" ng-disabled='disabled_flag' ng-model="form_data.customer.name" pattern="{{pattern.date}}" title="投资时间格式错误！" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
