<div ng-controller="BguController">
       <div class="col-md-12">
        <div name="queryForm" class="">
          <fieldset name="custQueryCond">
              <!--<div class="row">
                  <div class="col-md-4 col-md-offset-1">
                     <div class="form-group">
                          <label class="col-md-5 control-label label-sm">开始日期:</label>
                          <div class="col-md-7">
                              <input date-range-picker options="{singleDatePicker: true}" type="text" class="form-control input-sm" ng-model="cust_search.sdate">
                              </input>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-md-offset-1">
                     <div class="form-group">
                          <label class="col-md-5 control-label label-sm">结束日期:</label>
                          <div class="col-md-7">
                              <input date-range-picker options="{singleDatePicker: true}" type="text" class="form-control input-sm" ng-model="cust_search.edate">
                              </input>
                          </div>
                      </div>
                  </div>
                </div>-->
              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                      <div class="form-group">
                          <label class="col-md-5 control-label label-sm">员工工号:</label>
                          <div class="col-md-7">
                              <div class="input">
                                  <input class="form-control input-sm"  type="text"  ng-model="cust_search.user_name"/>
                              </div>
                          </div>
                      </div>
                </div>
                <!--<div class="col-md-4 col-md-offset-1">
                      <div class="form-group">
                          <label class="col-md-5 control-label label-sm">机构:</label>
                          <div class="col-md-7">
                              <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="cust_search.branch"
                                        ng-options="branch.branch_name for branch in f_branches">
									<option></option>
                                    </select>
                              </div>
                          </div>
                      </div>
                </div>-->
             </div>
             <!--<div class="row">
                  <div class="col-md-4 col-md-offset-1">
                    <div class="form-group">
                          <label class="col-md-5 control-label label-sm">部门:</label>
                          <div class="col-md-7">
                              <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="cust_search.group"
                                        ng-options="group.group_name for group in groups">
									<option></option>
                                    </select>
                              </div>
                          </div>
                      </div>  
                  </div>
                  <div class="col-md-4 col-md-offset-1">
                    <div class="form-group">
                          <label class="col-md-5 control-label label-sm">岗位:</label>
                          <div class="col-md-7">
                              <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="cust_search.position"
                                        ng-options="group.group_name for group in groups">
									<option></option>
                                    </select>
                              </div>
                          </div>
                      </div>  
                  </div>
              </div>-->
              <div class="row">
                  <div class="col-md-3 col-md-offset-10">
                    <button class="btn btn-primary btn-sm" ng-click="search()">查询</button>                                          
                  </div>
             </div>
             </fieldset>
          </div>
          <div class="col-md-12" name="resultTable">
                    <table name="custListTable" class="table">
                          <thead style="white-space:nowrap;">
                              <tr>
                                  <th ng-repeat='th in data.header' ng-bind='th' class="text-nowrap"> </th>
                              </tr>
                          </thead>
                          <tbody style="white-space:nowrap;">
                              <tr ng-repeat="row in data.rows">
                                <td ng-repeat="d in row track by $index" class="text-nowrap"  ng-hide="0 == $index">
                                {{d}}
                                </td>
                              </tr>
                          </tbody>
                    </table>
                  <ul class="pager">
                    <li ng-repeat="action in data.actions | filter:'!release'">
                        <a href="#" ng-click="onAction(action.conversation_id,action.action)">{{dict[action.action]}}</a>
                    </li>
                </ul>
          </div>
           <div style="text-align:center">
                            <font size="2" color="red">{{tableMessage}}</font>
           </div>
    </div>





      <div class="modal fade" id="bgu_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">添加</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">开始时间:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <input class="form-control input-sm" ng-model="startdate" date-range-picker options="{singleDatePicker: true}" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">结束时间:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <input class="form-control input-sm" ng-model="enddate" date-range-picker options="{singleDatePicker: true}" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">员工编号:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <input class="form-control input-sm" ng-model="add_user_id" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                       <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">机构:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="add_first_branch"
                                        ng-options="f_branch.branch_name for f_branch in f_branches | filter :{parent_id:null } track by f_branch.branch_name">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                       <div class="row" ng-show='second.show'>
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">二级机构:</label>

                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-change="show_tbranch()"
                                        ng-model="add_second_branch"
                                        ng-options="f_branch.branch_name for f_branch in f_branches | filter : {parent_id:add_first_branch.role_id}">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show='third.show'>
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-label label-sm">三级机构:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="add_third_branch"
                                        ng-options="f_branch.branch_name for f_branch in f_branches | filter : {parent_id:add_second_branch.role_id}">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-label label-sm">岗位:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="add_group"
                                        ng-options="group.group_name for group in groups">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn blue" ng-click="add_save()">保存</button>
                    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
      <div class="modal fade" id="bgu_edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">员工工号:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <input class="form-control input-sm" ng-model="edit_user_id" readonly='readonly' type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">员工名称:</label>
                            <div class="col-md-10">
                                <div class="input">
                                  <input class="form-control input-sm" ng-model="edit_user_name" readonly='readonly' type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                     <!--  <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">一级机构:</label>

                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-change="show_sbranch()"
                                        ng-model="edit_first_branch"
                                        ng-options="f_branch.branch_name for f_branch in f_branches | filter :{parent_id:null } track by f_branch.branch_name">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                       <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">二级机构:</label>

                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-change="show_tbranch()"
                                        ng-model="edit_second_branch"
                                        ng-options="f_branch.branch_name for f_branch in f_branches | filter : {parent_id:edit_first_branch.role_id}">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-label label-sm">三级机构:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="edit_third_branch"
                                        ng-options="f_branch.branch_name for f_branch in f_branches | filter : {parent_id:edit_second_branch.role_id}">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-label label-sm">岗位:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="edit_group"
                                        ng-options="group.group_name for group in groups">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">结束时间:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <input class="form-control input-sm" ng-model="enddate" date-range-picker options="{singleDatePicker: true}" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn blue" ng-click="edit_save(row)">保存</button>
                    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>

