<form id="unitecedit"  class="form-horizontal" role="form"  style="overflow-x:yes; overflow-y:yes;" >
    <div class="form-body">
       <table class = "table table-bordered" >
            <tr class = "info">
                <td ng-repeat="name in tableHead">{{name}} </td>
            </tr>
           <tr>
                <td> <input ng-model="from_data.interbank_lend.owner" type="text" /> </td>
                <td> <input ng-model="from_data.interbank_lend.opponent" type="text" /> </td>
                <td> <input ng-model="from_data.interbank_lend.lend_amount" type="text" /> </td>
                <td> <input ng-model="from_data.interbank_lend.term" type="text" /> </td>
                <td> <input ng-model="from_data.interbank_lend.rate" type="text" /> </td>
                <td> <input ng-model="from_data.interbank_lend.interest" type="text" /> </td>
                <td> <input ng-model="from_data.interbank_lend.start_date" type="text" /> </td>
                <td> <input ng-model="from_data.interbank_lend.end_time" type="text" /> </td>
            </tr>
        </table>

    </div>
   
</div>
