<!-- 对公-开立信用证 -->
<div ng-include="'views/credit/loan/baseInformation.html'"/>
<div class="row">
   

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">信用证类型</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">信用证类型</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">信用证期限类型</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">信用证付款期限(天)</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>


<div class="row">
  

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">还款宽限天</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">信用证效期</label>
            <div class="col-md-7">
               <input type="text" class="form-control"  placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">装期</label>
            <div class="col-md-7">
            <!-- -->
                <input type="text" class="form-control"  ng-model="$parent.data.transaction_info.amount" placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">运输单据种类</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>


<div class="row">
    

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">价格条款</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">手续费比例(%)</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">手续费金额</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">手续费交付方式</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>


<div class="row">
   

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">受益人名称</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">受益人所在地区</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">货物名称</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">货物描述</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>


<div class="row">
   

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">进口许可证编号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">通知行名称</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">通知行所在国家</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">溢装比例</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>



<div class="row">
   

    <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">贸易合同号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-3">
        <div class="form-group">
            <label class="col-md-4 control-label">信用证编号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function submit_form(){
        var data = new FormData();
        file = $('#jfyang_file').get(0).files[0];
        data.append('upload_file',file);
        $.ajax({
            url:'http://192.168.10.119:3000/img/',
            type:'POST',
            data:data,
            cache:false,
            contentType:false,
            processData:false,
            success:function(data){
                console.log(data);
            }
        });
    }
   function getObjectURL(file) {
        var url = null ; 
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    } 
</script>
