<form id="report" class="form-horizontal" role="form"  style="overflow-x:yes; overflow-y:yes;">
    <div class="form-body">
        <table class = "table table-bordered">
            <tr class = "info">
                <td>序号 </td>
                <td>环节 </td>
                <td>机构 </td>
                <td>人员 </td>
                <td>意见 </td>
                <td>时间 </td>
            </tr>
            <tr>
                <td>序号 </td>
                <td>环节 </td>
                <td>机构 </td>
                <td>人员 </td>
                <td>意见 </td>
                <td>时间 </td>
            </tr>
            <tr>
                <td>序号 </td>
                <td>环节 </td>
                <td>机构 </td>
                <td>人员 </td>
                <td>意见 </td>
                <td>时间 </td>
            </tr>
            <tr>
                <td>序号 </td>
                <td>环节 </td>
                <td>机构 </td>
                <td>人员 </td>
                <td>意见 </td>
                <td>时间 </td>
            </tr>
        </table>
        
    </div>

</form>
