<form id="report" class="form-horizontal" role="form"  style="overflow-x:yes; overflow-y:yes;">
    <div class="form-body">
        <table class = "table table-bordered">
            <tr class = "info">
                <td>报表年月 </td>
                <td>报表类型 </td>
                <td>查看报表 </td>
            </tr>
            <tr>
                <td>201109 </td>
                <td>月报 </td>
                <td>查看 </td>
            </tr>
            <tr>
                <td>201109 </td>
                <td>月报 </td>
                <td>查看 </td>
            </tr>
            <tr>
                <td>201109 </td>
                <td>月报 </td>
                <td>查看 </td>
            </tr>
        </table>
        
    </div>

</form>
