<div ng-controller="EBankController">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-body">
                <div class="row">
                  <div class="col-md-3">
                     <div class="form-group">
                          <label class="col-md-5 control-label label-sm">数据日期:</label>
                          <div class="col-md-7">
                              <input ng-readonly="true" date-range-picker options="{singleDatePicker: true}" type="text" class="form-control input-sm" ng-model="cust_search.e_p_P_DATE">
                              </input>
                          </div>
                      </div>  
                  </div>
                 <div class="col-md-3 ">
                    <div class="form-group">
                          <label class="col-md-5 control-label label-sm">客户编号:</label>
                            <div class="col-md-7">
                              <div class="input">
                                  <input class="form-control input-sm"  type="text"  ng-model="cust_search.DXBH"/>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 ">
                    <div class="form-group">
                          <label class="col-md-5 control-label label-sm">客户名称:</label>
                          <div class="col-md-7">
                              <div class="input">
                                  <input class="form-control input-sm"  type="text"  ng-model="cust_search.DXMC"/>
                              </div>
                          </div>
                      </div>
                  </div>		</div>
 <div class="row">
                        <div class="col-md-12">
                            <div class="form text-right">
                                <button class="btn btn-primary btn-sm" ng-click="search()">查询</button>
                                <button class="btn btn-primary btn-sm" ng-click="add()">添加</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
           <div name="resultTable">
                    <table name="custListTable" class="table">
                          <thead style="white-space:nowrap;">
                              <tr> 
                                  <th ng-repeat='th in data.header track by $index'  ng-bind='th' class="text-nowrap"> </th> 
                              </tr>
                          </thead>
                          <tbody style="white-space:nowrap;">
                              <tr ng-repeat="row in data.rows">
                                <td ng-repeat="d in row track by $index" class="text-nowrap" ng-hide="row.length-1 == $index">
                                {{d}}
                                </td>
                                <td>
                    <button class="btn btn-primary btn-sm" ng-click="edit(row)">编辑</button>
                    <button class="btn btn-primary btn-sm" ng-click="del(row)">删除</button>
                                </td>
                              </tr> 
                          </tbody>
                    </table>
                  <ul class="pager">
                    <li ng-repeat="action in data.actions | filter:'!release'">
                        <a href="#" ng-click="onAction(action.conversation_id,action.action)">{{dict[action.action]}}</a>
                    </li>
                </ul>
          </div>
           <div style="text-align:center">
                            <font size="2" color="red">{{tableMessage}}</font>
           </div>
 
 

     
      <div class="modal fade" id="ebank_edit_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">维护日期:</label>
                            <div class="col-md-10">
                                <div class="input"> 
                                    <input date-range-picker options="{singleDatePicker: true}" class="form-control input-sm" ng-model="edit_date" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>

 <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">企业号:</label>
                            <div class="col-md-10">
                                <div class="input"> 
                                    <input class="form-control input-sm" ng-model="edit_object_id" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">企业名称:</label>
                            <div class="col-md-10">
                                <div class="input"> 
                                    <input class="form-control input-sm" ng-model="edit_object_name" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-label label-sm">机构:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
					ng-change="edit_persons()"
                                        ng-model="edit_branch"
                                        ng-options="branch.branch_name for branch in branches">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-label label-sm">员工:</label>
                              <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="edit_user"
                                        ng-options="person.name for person in persons">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue" ng-click="edit_save()">保存</button>
                    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
   </div>

    <div class="modal fade" id="ebank_add_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">添加</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">维护日期:</label>
                            <div class="col-md-10">
                                <div class="input"> 
                                    <input date-range-picker options="{singleDatePicker: true}" class="form-control input-sm" ng-model="add_wh_date" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">企业号:</label>
                            <div class="col-md-10">
                                <div class="input"> 
                                    <input class="form-control input-sm" ng-model="add_object_id" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">企业名称:</label>
                            <div class="col-md-10">
                                <div class="input"> 
                                    <input class="form-control input-sm" ng-model="add_object_name" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-label label-sm">机构:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
					ng-change="add_persons()"
                                        ng-model="add_branch"
                                        ng-options="branch.branch_name for branch in branches">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-label label-sm">员工:</label>
                              <div class="col-md-10">
                                <div class="input">
                                    <select 
                                        class="form-control"
                                        ng-model="add_user"
                                        ng-options="person.name for person in persons">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">开户日期:</label>
                            <div class="col-md-10">
                                <div class="input"> 
                                    <input date-range-picker options="{singleDatePicker: true}" class="form-control input-sm" ng-model="add_kh_date" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue" ng-click="add_save()">保存</button>
                    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
   </div>
</div>

