<div style="margin:0px;">
    <div class="row" ng-controller="cust_hookSearchController">
       <div class="col-md-12">
        <div name="queryForm" class="">
          <fieldset name="custQueryCond">
              <div class="row">
               </div>
              <div class="row">
                  <div class="col-md-4 col-md-offset-1">
                    <!-- TBD
                     <div class="form-group">
                          <label class="col-md-5 control-label label-sm">机构号:</label>
                          <div class="col-md-7">
                              <select class="form-control input-sm" ng-change="find_users()" ng-options="option as option.branch_name for option in model1 " ng-model="cust_search.ORG_NO"/>
                          </div>
                      </div>  
                      -->

                      <div class="form-group">
                        <label class="col-md-5 control-label label-sm ">机构号:</label>
                        <div class="col-md-6"> 
                            <input type="text" class="form-control col-md-7" ng-change="find_users()" ng-model="cust_search.ORG_NO" disabled="true">
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="show_lt_modal(this)" ng-disabled="ltSelected">...</button>
                     </div>
                  </div>

                    <div name="sameBusiness" ng-include src=Page ></div>
                     <div class="modal fade " name="loan_type_modal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">机构信息</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="row" name="for_lt_tree"> </div>
                                    </form>
                                </div> <!-- modal-body -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ztreeBtmConfirm()">确定</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ztreeBtmClose()">取消</button>
                                </div> <!-- modal-footer -->
                             </div> <!-- modal-content -->
                     </div> <!-- modal-dialog -->
                    </div>

                   <div class="col-md-4 col-md-offset-1">
                       <div class="form-group">
                            <label class="col-md-5 control-label label-sm">客户号:</label>
                            <div class="col-md-7">
                              <div class="input">
                                  <input class="form-control input-sm"  type="text"  ng-model="cust_search.CUST_NO"/>
                              </div>
                            </div>
                      </div>
                   </div>
              </div>
              <div class="row">
                  <div class="col-md-4 col-md-offset-1">
                      <div class="form-group">
                           <label class="col-md-5 control-label label-sm">员工号:</label>
                           <div class="col-md-7">
                               <select class="form-control input-sm" ng-model="cust_search.MANAGER_NO" ng-options="option.user_name as (option.user_name+'|'+option.name) for option in model2"/>
                           </div>
                      </div>
                  </div>

                  <div class="col-md-4 col-md-offset-1">
                      <div class="form-group">
                           <label class="col-md-5 control-label">状态<font color="#FF0000">*</font></label>
                           <div class="col-md-7">
                               <select class="form-control" ng-model="cust_search.STATUS">
                                   <option value="正常">正常</option>
                                   <option value="待审批">待审批</option>
                                   <option value="审批不通过">审批不通过</option>
                               </select>
                           </div>
                           </div>
                  </div>
             </div>
             <div class="row">
                  <div class="col-md-4 col-md-offset-1">
                                      <div class="form-group">
                                          <label class="col-md-5 control-label">类型<font color="#FF0000">*</font></label>
                                          <div class="col-md-7">
                                                <select class="form-control" ng-model="cust_search.TYP">
                                                <option value="贷款">贷款</option>
                                                <option value="POS">POS</option>       
                                                <option value="电子银行">电子银行</option>  
                                                <option value="国际业务">国际业务</option>       
                                                <option value="代理保险">代理保险</option>       
                                                </select>
                                          </div>
                                      </div>     
                                     </div>
                   
                  <div class="col-md-4 col-md-offset-1">
                      <div class="form-group">
                           <label class="col-md-5 control-label">认定方式<font color="#FF0000">*</font></label>
                           <div class="col-md-7">
                               <select class="form-control" ng-model="cust_search.SRC">
                                   <option value="批量">自动认定</option>
                                   <option value="前端录入">前端录入</option>
                                   <option value="前端修改">前端修改</option>
                                   <option value="excel导入">excel导入</option>
                               </select>
                           </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-md-offset-10">
                    <button class="btn btn-primary btn-sm" ng-click="search()">查询</button>
                    <a href="{{excelurl}}" class="btn btn-primary btn-sm">excel导出</a>
                  </div>
             </div>
            </fieldset>
          </div>
          <div name="resultTable">
                      <table name="custListTable" class="table">
                             <thead style="white-space:nowrap;">
                                 <tr>
                                     <th ng-repeat='th in data.header' ng-bind='th' class="text-nowrap" ng-hide='data.header.length == $index+1||$index == 4||$index == 6||$index == 7||$index == 8||$index == 9||$index == 11||$index == 12||$index == 14||$index == 16||$index == 17 '> </th>
                                 </tr>
                             </thead>
                             <tbody style="white-space:nowrap;">
                                 <tr ng-repeat="row in data.rows">
                                   <td ng-repeat="d in row track by $index" class="text-nowrap" ng-hide="row.length == $index+1||$index == 5||$index == 8||$index == 10||$index == 11"> 
                                   {{d}}
                                   <td>  
                                 </tr>  
                             </tbody> 
                             </table>                                                                                                                                                                   
                  <ul class="pager">
                    <li ng-repeat="action in data.actions | filter:'!release'">
                        <a href="#" ng-click="onAction(action.conversation_id,action.action)">{{dict[action.action]}}</a>
                    </li>
                </ul>
          </div>
           <div style="text-align:center">
                            <font size="2" color="red">{{tableMessage}}</font>
           </div>
    <div class="modal fade" id="cust_hookSearchModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">客户挂钩归属查询</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">转移后机构:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <select class="form-control input-sm" ng-model="add_org" ng-change="find_users2()" ng-options="option as option.branch_name for option in model1 "/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">营销类型:</label>
                            <div class="col-md-10">
                                <div class="input">
                                   <select class="form-control input-sm" ng-model="add_status" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">客户号:</label>
                            <div class="col-md-10">
                                <div class="input">
                                   <input class="form-control input-sm" ng-model="add_cust_no" readonly="true" type="text"/>
                                </div> 
                            </div>
                        </div>
                    </div>
                     <div class="row">
                         <div class="form-group col-md-12">
                             <label class="col-md-2 control-label label-sm">客户经理:</label>
                             <div class="col-md-10">
                                 <div class="input">
                                    <input class="form-control input-sm" ng-model="add_manager_no" type="text"/>
                                 </div>
                             </div>
                         </div>                                                                                                                                                                                                                                                                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">管理起始日期:</label>
                          <div class="col-md-7">
                              <input date-range-picker options="{singleDatePicker: true}" type="text" class="form-control input-sm" ng-model="add_start_date">
                              </input>
                          </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">管理结束日期:</label>
                          <div class="col-md-7">
                              <input date-range-picker options="{singleDatePicker: true}" type="text" class="form-control input-sm" ng-model="add_end_date">
                              </input>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">管理比例(%):</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <input class="form-control input-sm" ng-model="add_percentage" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label label-sm">关系状态:</label>
                            <div class="col-md-10">
                                <div class="input">
                                    <input class="form-control input-sm" ng-model="add_status" type="text"/>
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue" ng-click="save()">保存</button>
                    <button type="button" class="btn default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>	
    </div>
</div>
