<div style="margin:0px;">
    <div class="row" ng-controller="depspController">
       <div class="col-md-12">
        <div name="queryForm" class="">
          <fieldset name="custQueryCond">
              <div class="row">
               </div>
              <div class="row">
                  <div class="col-md-3 ">
                    <div class="form-group">
                          <label class="col-md-5 control-label label-sm">员工号:</label>
                          <div class="col-md-7">
                              <div class="input">
                                  <input class="form-control input-sm"  type="text"  ng-model="cust_search.MANAGER_NO"/>
                              </div>
                          </div>
                      </div>
                   </div>
                  <div class="col-md-3 ">
                    <div class="form-group">
                          <label class="col-md-4 control-label label-sm">类型:</label>
                          <div class="col-md-8">
                              <div class="input">
                                <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="cust_search.type" ng-change="switch_f()">
                                    <option value="存款客户号录入">存款客户号录入</option>
                                    <option value="存款账号录入">存款账号录入</option>
                                    <option value="理财客户号录入">理财客户号录入</option>
                                    <option value="理财流水号录入">理财流水号录入</option>
                                    <option value="存款汇集户账号录入">存款汇集户账号录入</option>
                                </select>
                              </div>
                          </div>
                    </div>
                  </div>
                  <!--<div class="col-md-2 ">
                    <div class="form-group">
                          <label class="col-md-4 control-label label-sm">状态:</label>
                          <div class="col-md-8">
                              <div class="input">
                                <select class="form-control ng-pristine ng-untouched ng-valid" ng-model="cust_search.STATUS">
                                    <option value=""></option>       
                                    <option value="待审批">待审批</option>       
                                    <option value="已审批">已审批</option>       
                                    <option value="审批不通过">审批不通过</option>       
                                </select>
                              </div>
                          </div>
                      </div>
                   </div>-->
              </div>
            </br>
              <div class="row">
                  <div class="col-md-3 pull-right" >
                        <button class="btn btn-primary btn-sm" ng-click="search()">查询</button>
                        <button class="btn btn-primary btn-sm" ng-click="get()">审核</button>
                        <!--<button class="btn btn-primary btn-sm" data-toggle="collapse" href="#examine" >审核</button>
                        <div class="pannel-collapse collapse" id="examine" style="position:absolute;background-color:white;z-index:999;">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label"> 意见：</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="6" ng-model="reason"> </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary col-md-5" ng-click="approve()">通过</button>
                                <button class="btn btn-danger col-md-5 pull-right" ng-click="deny()">不通过</button>
                            </div>
                        </div>-->
                  </div>
              </div>
            </fieldset>
          </div>
    <div class="modal fade" id="depsp_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">审核</h4>
                </div>
                <div class="modal-body">
                     <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 control-label"> 意见：</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="6" ng-model="reason"> </textarea>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue" ng-click="approve()">通过</button>
                    <button type="button" class="btn blue" ng-click="deny()">不通过</button>
                    <button type="button" class="btn default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
          <div name="resultTable">
                      <table name="custListTable" class="table">
                          <thead style="white-space:nowrap;">
                              <tr> 
                                  <th class="text-nowrap"><input type="checkbox" ng-model="checkedAllFlag" ng-checked="checkedAllFlag" ng-click="checkedAll(checkedAllFlag,data.rows)">
                                  </th>
                                  <th ng-repeat='th in data.header track by $index' ng-hide="data.header.length == $index"  ng-bind='th' class="text-nowrap"> </th> 
                              </tr>
                          </thead>
                          <tbody style="white-space:nowrap;">
                              <tr ng-repeat="row in data.rows">
                                <td class="text-nowrap">
                                    <input type="checkbox"  ng-value="row[0]"  ng-click="checked_row(row[0], data.rows)" ng-checked="isChecked(row[0])">            
                                </td>
                                <td ng-repeat="d in row track by $index" class="text-nowrap" ng-hide=" $index < 2 || $index >12">
                                {{d}}
                                </td>
                                <td class="text-nowrap" ng-hide="detail_flag">
                                    <button class="btn btn-primary btn-sm" ng-click="detail($index)">详情</button> 
                                </td>
                              </tr> 
                          </tbody>
                      </table>
                  <ul class="pager">
                  <li> 总共{{total_count}}条</>
                  <li> 当前第{{cur_page}}页</>
                    <li ng-repeat="action in data.actions | filter:'!release'">
                        <a href="#" ng-click="onAction(action.conversation_id,action.action)">{{dict[action.action]}}</a>
                    </li>
                </ul>
          </div>
          <div style="text-align:center">
            <font size="2" color="red">{{tableMessage}}</font>
          </div>
    <div class="modal fade text-center" id="depsp_detail_modal" >
        <div class="modal-dialog">
            <div class="modal-content" style="width:800px;">
                <div class="modal-header">
                    <h4 class="modal-title">详情</h4>
                </div>
                <div class="modal-body">
                      <table name="custListTable" class="table">
                          <thead style="white-space:nowrap;">
                              <tr> 
                                  </th>
                                  <th ng-repeat='th in detail_data.header track by $index' ng-hide="detail_data.header.length == $index"  ng-bind='th' class="text-nowrap"> </th> 
                              </tr>
                          </thead>
                          <tbody style="white-space:nowrap;">
                              <tr ng-repeat="row in detail_data.rows">
                                <td ng-repeat="d in row track by $index" class="text-nowrap" ng-hide="row.length == $index">
                                {{d}}
                                </td>
                              </tr> 
                          </tbody>
                      </table>
                  <ul class="pager">
                    <li ng-repeat="action in detail_data.actions | filter:'!release'">
                        <a href="#" ng-click="onAction1(action.conversation_id,action.action)">{{dict[action.action]}}</a>
                    </li>
                </ul>

                <div>
            </div>
        </div>
    </div>
 
    </div>
</div>

