<div class="row" >
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">客户编号</label>
            <div class="col-md-7">
                <div class="input">
                    <input type="text" class="form-control" placeholder="客户编号" ng-model="pre_apply.no" ng-disabled=true>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">客户名称</label>
            <div class="col-md-7">
                <div class="input">
                    <input type="text" class="form-control" placeholder="客户名称" ng-model="pre_apply.name" ng-disabled=true>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">贷款种类</label>
            <div class="col-md-7">
            <input type="text" class="form-control col-md-7" placeholder="请选择" ng-model=" pre_apply.loan_type" disabled=true>
            </div>
            <button type="button" class="btn btn-primary btn-sm" ng-click="show_lt_modal(this)" ng-disabled="ltSelected">...</button> 
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">担保方式</label>
            <div class="col-md-7">
                <select  class="form-control" ng-model="pre_apply.main_gua">
                    <option>抵押</option>
                    <option>质押</option>
                    <option>保证</option>
                    <option>信用</option>
                </select>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">贷款期限</label>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="pre_apply.term" placeholder="">
            </div>
            <label class="col-md-1 control-label">月</label>
<!--            <label class="col-md-1 control-label">零</label>
            <div class="col-md-3">
                <input type="text" class="form-control"  ng-model="data.application_info.term_day" placeholder="">
            </div>
            <label class="col-md-1 control-label">天</label> -->
        </div>
    </div>
</div>

