<div class="row" >
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">客户编号</label>
            <div class="col-md-7">
                <div class="input">
                    <input type="text" class="form-control" placeholder="客户编号" ng-model="pre_apply.no" ng-disabled=true>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">客户名称</label>
            <div class="col-md-7">
                <div class="input">
                    <input type="text" class="form-control" placeholder="客户名称" ng-model="pre_apply.name" ng-disabled=true>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-3 control-label">贷款种类</label>
            <div class="col-md-7">
            <input type="text" class="form-control col-md-7" ng-model="pre_apply.loan_type" disabled=true>
            </div>
        </div>
    </div>
</div>

