<div class="row">
     <div class="col-md-6">
          <div class="form-group">
               <label class="col-md-4 control-label ">是否敞口签票</label>
               <div class="col-md-7">
                    <div class="input">
                         <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                    </div>
               </div>
          </div>
     </div>
</div>
<div class="row">
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">战略新型产业类型</label>
             <div class="col-md-7">
                 <div class="input">
                     <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">工业转型升级标识</label>
             <div class="col-md-7">
                 <div class="input">
                      <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                </div>
             </div>
        </div>
    </div>
</div>
<div class="row">
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">贸易合同号</label>
             <div class="col-md-7">
                 <div class="input">
                     <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">货物名称</label>
             <div class="col-md-7">
                 <div class="input">
                      <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
</div>
<div class="row">
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">手续费比例<font color="#FF0000">*</font></label>
             <div class="col-md-7">
                 <div class="input">
                     <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">手续费金额</label>
             <div class="col-md-7">
                 <div class="input">
                      <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
</div>
<div class="row">
     <div class="col-md-6">
          <div class="form-group">
              <label class="col-md-4 control-label ">手续费交付方式</label>
              <div class="col-md-7">
                  <div class="input">
                       <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                  </div>
              </div>
          </div>
     </div>
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">是否我行汇票</label>
             <div class="col-md-7">
                 <div class="input">
                     <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
</div>
<div class="row">
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">付款行全称<font color="#FF0000">*</font></label>
             <div class="col-md-7">
                 <div class="input">
                      <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-6">
          <div class="form-group">
              <label class="col-md-4 control-label ">出票人开户银行</label>
              <div class="col-md-7">
                  <div class="input">
                       <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                  </div>
              </div>
          </div>
     </div>
</div>
<div class="row">
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">出票人账号<font color="#FF0000">*</font></label>
             <div class="col-md-7">
                 <div class="input">
                     <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">出票人全称<font color="#FF0000">*</font></label>
             <div class="col-md-7">
                 <div class="input">
                      <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
</div>
<div class="row">
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">质押票号</label>
             <div class="col-md-7">
                 <div class="input">
                     <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">保证金帐号</label>
             <div class="col-md-7">
                 <div class="input">
                      <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
 </div>
<div class="row">
     <div class="col-md-6">
          <div class="form-group">
              <label class="col-md-4 control-label ">保证金额</label>
              <div class="col-md-7">
                  <div class="input">
                       <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label class="col-md-4 control-label ">保证金比例<font color="#FF0000">*</font></label>
              <div class="col-md-7">
                  <div class="input">
                      <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                  </div>
              </div>
          </div>
      </div>
 </div>
<div class="row">
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">保证金计息方式</label>
             <div class="col-md-7">
                 <div class="input">
                      <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     </div>
     <div class="col-md-6">
          <div class="form-group">
              <label class="col-md-4 control-label ">保证执行利率</label>
              <div class="col-md-7">
                  <div class="input">
                       <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                  </div>
              </div>
          </div>
     </div>
</div>
<div class="row">
     <div class="col-md-12">
         <div class="form-group">
             <label class="col-md-2 control-label ">是否为滚动签发</label>
             <div class="col-md-9">
                 <div class="input">
                     <input class="form-control  " type="text" ng-disabled='disabled_flag'   />
                 </div>
             </div>
         </div>
     <div>
</div>

