<!-- 个人汽车消费 -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">申请书号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">销售商编号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">销售商名称</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">存款账号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">每月还款日</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">还款宽限天</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">贷款成数(%)</label>
            <div class="col-md-7">
               <input type="text" class="form-control"  placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">首付金额</label>
            <div class="col-md-7">
            <!-- -->
                <input type="text" class="form-control"  ng-model="$parent.data.transaction_info.amount" placeholder="" >
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">购车用途</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">是否销售商担保</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">资料编号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">车辆类型</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">车辆品牌</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">车辆型号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">车牌号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">发动机号码</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">车架号码</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">行驶里程(公里)</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">出厂时间</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">车辆现状</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">购入价格(元)</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">首付款交付日期</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">首付款凭证号或存款帐号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">营业执照号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">销售许可证号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">排气量</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">产地</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">单价</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">购车总金额</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">颜色</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">数量</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">关税税率</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">关税凭证号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">购销合同或协议编号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">投保险种</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">保险公司</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">投保金额</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">保险受益人</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">保单到期日</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

 <div class="row">
        <button type="button" class="btn btn-primary" ng-hide="editFlag">保存</button>
        <button type="button" class="btn btn-primary" ng-hide="editFlag">取消</button>
        <button type="button" class="btn btn-primary" ng-show="False">修改</button>
    </div>

