<!--商业用房按揭贷款--> 
<div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung-color:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">开发商编号<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag' required  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group" style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">开发商名称</label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'   />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
 <div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">商品房买卖合同</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group" style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">建筑面积</label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'   />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
 <div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">贷款比率（%）<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag' required />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”> 
                    <label class="col-md-4 control-label label-sm">首付金额<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  required />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
 <div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">开发商担保</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">房屋建成时间<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag' required  />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
 <div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">房产证号</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">土地证号</label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'   />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
 <div class="row">
            <div class="col-md-6">
                <div class="form-group" style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">原房屋单价<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag' required />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">房屋使用现状</label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'   />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
 <div class="row">
            <div class="col-md-6">
                <div class="form-group" style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">按揭贷款种类<font color="#FF0000">*</font></label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag' required />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">已有住房套数</label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'   />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
 <div class="row">
            <div class="col-md-6">
                <div class="form-group" style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">是否新建</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  >
                    <label class="col-md-4 control-label label-sm"> </label>
                    <div class="col-md-7">
                        </div>
                    </div>
                </div>
            </div>
         </div>








