<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label ">贷款形式</label>
            <div class="col-md-7">
                <div >
                    <select class="form-control " ng-disabled="disabled_flag" >
                        <option></option>
                        <option>新增</option>
                        <option>借新还旧</option>
                        <option>还旧借新</option>
                        <option>续贷</option>
                    </select>
                </div>
            </div>
       </div>
    </div>
    <div class="col-md-6">
         <div class="form-group">
              <label class="col-md-4 control-label ">贴现日期<font color="#FF0000">*</font></label>
              <div class="col-md-7">
                   <div class="input ">
                        <input class=" form-control" type="text" ng-disabled='disabled_flag'  required />
                   </div>
              </div>
         </div>
   </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
           <label class="col-md-4 control-label ">贴现到期日<font color="#FF0000">*</font></label>
           <div class="col-md-7">
               <div class="input ">
                   <input class=" form-control" type="text" ng-disabled='disabled_flag'  required />
               </div>
           </div>
        </div>
   </div>
   <div class="col-md-6">
       <div class="form-group">
           <label class="col-md-4 control-label ">期限类型</label>
           <div class="col-md-7">
               <div class="input">
                   <select class="form-control " ng-disabled="disabled_flag" >
                       <option></option>
                       <option>短期</option>
                   </select>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="row">
  <div class="col-md-6">
       <div class="form-group">
           <label class="col-md-4 control-label ">基本授信使用</label>
           <div class="col-md-7">
               <div class="input">
                   <input class="form-control  " type="text" ng-disabled='disabled_flag' />
               </div>
           </div>
       </div>
   </div>
    <div class="col-md-6">
       <div class="form-group">
           <label class="col-md-4 control-label ">营销柜员号</label>
           <div class="col-md-7">
               <div class="input">
                   <input class="form-control  " type="text" ng-disabled='disabled_flag' />
               </div>
           </div>
       </div>
   </div>
</div>
<div class="row">
    <div class="col-md-6">
       <div class="form-group">
           <label class="col-md-4 control-label ">营销柜员名称</label>
           <div class="col-md-7">
               <div class="input">
                   <input class="form-control  " type="text" ng-disabled='disabled_flag' />
               </div>
           </div>
       </div>
   </div>
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">行业门类<font color="#FF0000">*</font></label>
             <div class="col-md-7">
                 <div class="input">
                     <select class="form-control " ng-disabled="disabled_flag"  required >
                         <option></option>
                         <option>A-农业</option>
                         <option>B-采掘业</option>
                         <option>C-制造业</option>
                         <option>D-建筑业</option>
                         <option>T-国际组织</option>
                     </select>
                 </div>
             </div>
         </div>
     </div>
</div>
<div class="row">
      <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">行业大类<font color="#FF0000">*</font></label>
             <div class="col-md-7">
                 <div class="input">
                     <select class="form-control " ng-disabled="disabled_flag"  required >
                         <option></option>
                         <option>A01-农业</option>
                         <option>B01-采掘业</option>
                         <option>C01-制造业</option>
                         <option>D01-建筑业</option>
                         <option>T01-国际组织</option>
                     </select>
                 </div>
             </div>
         </div>
    </div>
      <div class="col-md-6">
      <div class="form-group">
          <label class="col-md-4 control-label ">行业中类<font color="#FF0000">*</font></label>
           <div class="col-md-7">
              <div class="input">
                  <select class="form-control " ng-disabled="disabled_flag"  required >
                      <option></option>
                      <option>A011-农业</option>
                      <option>B012-采掘业</option>
                      <option>C014-制造业</option>
                      <option>D016-建筑业</option>
                      <option>T015-国际组织</option>
                  </select>
              </div>
          </div>
      </div>
</div>
<div class="row">
    <div class="col-md-6">
          <div class="form-group">
             <label class="col-md-4 control-label ">行业小类<font color="#FF0000">*</font></label>
              <div class="col-md-7">
                  <div class="input">
                      <select class="form-control " ng-disabled="disabled_flag"  required >
                         <option></option>
                         <option>A0001-农业</option>
                         <option>B0002-采掘业</option>
                         <option>C0004-制造业</option>
                         <option>D0006-建筑业</option>
                         <option>T0005-国际组织</option>
                     </select>
                 </div>
             </div>
         </div>
     </div>
      <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">战略新型产业类型</label>
             <div class="col-md-7">
                 <div class="input">
                     <select class="form-control " ng-disabled="disabled_flag"  >
                         <option></option>
                         <option>节能环保</option>
                         <option>新一代信息技术</option>
                         <option>生物</option>
                         <option>高端装备制造</option>
                         <option>新能源</option>
                         <option>新材料</option>
                     </select>
                 </div>
             </div>
         </div>
     </div>
 </div>
<div class="row">
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">工业转型升级标识</label>                  
                 <div class="col-md-7">
                 <div class="input">
                     <select class="form-control " ng-disabled="disabled_flag"  >                             <option></option>
                         <option>是</option>
                         <option>否</option>
                     </select>
                 </div>  
             </div>  
         </div>  
     </div>  
  <div class="col-md-6">
      <div class="form-group">
          <label class="col-md-4 control-label ">票据数量<font color="#FF0000">*</font></label>
          <div class="col-md-7">
              <div class="input ">
                  <input class=" form-control" type="text" ng-disabled='disabled_flag' required />
              </div>
          </div>
      </div>
  </div>
</div> 
<div class="row">

   <div class="col-md-6">
      <div class="form-group">
          <label class="col-md-4 control-label ">票据总金额<font color="#FF0000">*</font></label>
          <div class="col-md-7">
              <div class="input ">           
                  <input class=" form-control" type="text" ng-disabled='disabled_flag' required />
              </div>
          </div> 
       </div>
  </div>      
     <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">票据最早到期日<font color="#FF0000">*</font></label>
             <div class="col-md-7">
                 <div class="input ">    
                     <input class=" form-control" type="text" ng-disabled='disabled_flag' required />
                 </div>
             </div> 
          </div>
     </div>    
 </div>    
<div class="row">
    <div class="col-md-6">
         <div class="form-group">
             <label class="col-md-4 control-label ">是否与我行签订速帖协议<font color="#FF0000">*</font></label>
             <div class="col-md-7">
                 <div class="input">
                     <select class="form-control " ng-disabled="disabled_flag"  >
                         <option></option>
                         <option>是</option>
                         <option>否</option>
                     </select>
                 </div>
             </div>
         </div>
     </div>
 </div>
         
