<!-- 对公-委托贷款 -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">手续费比例(‰)</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">手续费金额</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">手续费交付方式</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">委托人类型</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">委托人代码</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">委托人名称</label>
            <div class="col-md-7">
               <input type="text" class="form-control"  placeholder="" >
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">委托人帐号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"  ng-model="$parent.data.transaction_info.amount" placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">委托条件</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
