<!-- 对私－个人住房装修贷款 -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">贷款成数%</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">拟装修房产用途</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">产权性质</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">产权所有人</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
<div class="row">
   

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">拟装修房产的产籍号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">装修总金额</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">建筑面积</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">装修人</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
<div class="row">
   

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">装修公司名称</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">营业执照号码</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">资质等级</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">经营范围</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
<div class="row">
   

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">地址</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">联系人</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">电话</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">是否与我行建立合作关系</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
<div class="row">
   

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">装修公司在我行帐号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">装修合同编号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">合同金额</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">首付金额</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
<div class="row">
   

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">付款方式</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">合同签订时间</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	<div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">开工时间</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">竣工时间</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>
 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">验收标准</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

