<!--个人下岗再就业贷款-->
<div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">担保中心名称</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”> 
                    <label class="col-md-4 control-label label-sm">专管员</label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'   />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
<div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">联系电话</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”> 
                    <label class="col-md-4 control-label label-sm">是否财政贴现</label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'   />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
<div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">再就业优惠证</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”> 
                    <label class="col-md-4 control-label label-sm">营业执照</label>
                    <div class="col-md-7">
                        <div class="input">
 <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'   />
                        </div>
                    </div>
                </div>
            </div>
         </div><br>
<div class="row">
            <div class="col-md-6">
                <div class="form-group"  style=”backgroung:#0080FF;”>
                    <label class="col-md-4 control-label label-sm">经营范围</label>
                    <div class="col-md-7">
                        <div class="input">
                            <input class="form-control  input-sm" type="text" ng-disabled='disabled_flag'  />
                        </div>
                    </div>
                </div>
            </div>
 <div class="col-md-6">
               
              
            </div>
         </div><br>




