<!-- 下岗二次就业 -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">基本授信使用</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">转登日期</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">借款合同号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">授信卡号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">行业门类</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">行业大类</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">行业中类</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">行业小类</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">营销柜员号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">营销柜员名称</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">抵押担保资料编号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">理财产品签约号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">授信类型</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">原授信合同编号</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">担保方式细分</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">贷款性质</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">贷款领域</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">战略新型产业类型</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>
	  <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-4 control-label">工业转型升级标志</label>
            <div class="col-md-7">
                <input type="text" class="form-control"   placeholder="" >
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-6 control-label">担保中心名称</label>
            <div class="col-md-7">
                <div class="input-group">
                     <input type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-6 control-label">专管员</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-6 control-label">联系电话</label>
            <div class="col-md-7">
                <div class="input-group">
                     <input type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-6 control-label">是否财政贴现</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-6 control-label">再就业优惠证</label>
            <div class="col-md-7">
                <div class="input-group">
                     <input type="text" class="form-control" placeholder="">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-6 control-label">营业执照</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
    </div>
</div>

 <div class="col-md-6">
        <div class="form-group">
            <label class="col-md-6 control-label">经营范围</label>
            <div class="col-md-7">
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
    </div>
 <div class="row">
        <button type="button" class="btn btn-primary" ng-hide="editFlag">保存</button>
        <button type="button" class="btn btn-primary" ng-hide="editFlag">取消</button>
        <button type="button" class="btn btn-primary" ng-show="False">修改</button>
    </div>

